
summary {
    display: block;
}

.arrow-bottom-3 {
    width: 10px;
    height: 5px;
    cursor: pointer;
    transform: rotate(90deg);
}

.navigation {
    @include vertical-aligement;
    margin-bottom: 25px;

    .container {
        @include container;
        @include just-content-space-between;
    }

    height: 148px;
    background: #F8F3F4;

    &__header {
        p {
            font-size: $mainFontSize + 10;
            line-height: $mainLineHeight + 12;
            color: $mainColor;
        }
    }

    &__breadcrumbs { 
        font-weight: 300;
        color: #636363;

        & a:last-child {
            color: $mainColor;
            font-weight: bold;
        }
    }
}

main {
    .filter_block {
        @include container;
        &__wrap {
            @include just-content-space-between;
            width: 670px;
        }

        margin-bottom: 64px;

        &__main {
            

            &__details {
                width: 360px;
                padding-left:  16px;
                box-sizing: border-box;
                position: absolute;
                z-index: 2;
                padding-bottom: 16px;
                padding-top: 13px;

                &__summary {
                    outline: none;
                    display: block;
                }

                &__inner {

                    li {
                        margin-top: 18px;
                        padding-right: 16px;
                        color: #6F6E6E;
                        cursor: pointer;
                        font-size: $mainFontSize;
                        line-height: $mainLineHeight;

                    }

                    &__details {
                        &__summary {
                            display: block;
                            border-left: 10px solid #EF5B70;
                            border-bottom: 1px solid #EBEBEB;
                            padding: 10px;
                            outline: none;
                            color: #6F6E6E;
                            cursor: pointer;
                        }

                        ul {
                            margin: 24px 0;

                            li {
                                margin-bottom: 11px;
                                color: #6F6E6E;
                                margin-left: 16px;
                                cursor: pointer;

                                &:hover {
                                    color: #EF5B70;
                                }
                            }
                        }

                        &[open] {
                            summary {
                                color: #EF5B70;
                            }
                        }
                    }
                }

                &[open] {
                    background: #FFFFFF;
                    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                    color: #EF5B70;
                    

                    & summary svg {
                        fill: #EF5B70;
                    }
                }
            }
        }

        &__sort {
            @include just-content-space-between;

            padding-top: 13px;
            color: #6F6E6E;
            width: 296px;

            &__trending {
                min-width: 155px;
            }

            &__size {
                min-width: 60px;
            }

            &__price {
                min-width: 78px;
            }

            &__-__details {
                position: absolute;
                z-index: 2;
            }


            &__size {
                
            }

            &__price {
                
            }

            &__trending ul,
            &__size ul,
            &__price ul {
                min-width: 79px;
                margin-top: 5px;
                padding: 7px 30px 11px 9px;
            
                background: #FFFFFF;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                box-sizing: border-box;
            }

            &__trending ul li:not(:last-child),
            &__size ul li:not(:last-child),
            &__price ul li:not(:last-child) {
                margin-bottom: 6px;
            }

            &__trending li label,
            &__size li label,
            &__price li label {
                font-family: Roboto;
                font-size: $mainFontSize;
                line-height: $mainLineHeight - 1;
                color: #6F6E6E;
            }

            &__trending li input,
            &__size li input,
            &__price li input {
                margin-right: 9px;
            }
        }
    }
}

.cstm-cbx {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.cstm-cbx+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.cstm-cbx+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #EBEBEB;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.cstm-cbx:checked+label::before {
    border-color: #F16D7F;
    background-color: #F16D7F;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.cstm-cbx:not(:disabled):not(:checked)+label:hover::before {
    border-color: #F16D7F;
}

  /* стили для активного состояния чекбокса (при нажатии на него) */
.cstm-cbx:not(:disabled):active+label::before {
    background-color: #F16D7F;
    border-color: #F16D7F;
}

  /* стили для чекбокса, находящегося в состоянии disabled */
.cstm-cbx:disabled+label::before {
    background-color: #e9ecef;
}

.pagging {
    @include container;
    @include just-content-center;

    &__pagination {
        @include just-content-space-between;

        padding: 15px; 
        border: 1px solid #EBEBEB;
        margin-bottom: 109px;

        a {
            font-weight: 300;
            font-size: $mainFontSize + 2;
            line-height: $mainLineHeight + 2;
            color: #C4C4C4;

            &:hover {
                color: #EF5B70;
            }

            &:not(:last-child) {
                margin-right: 1em;
            }

            &:last-child {
                @include vertical-aligement;
            }
        }
    }
}

@media (max-width:768px) and (min-width:376px) {
    .navigation {
        padding-left: 16px;
        padding-right: 16px;
        

        &__header {
            padding: 0;
        }
    }

    .filter_block__wrap {
        min-width: 100%;
    }
}

@media (max-width:375px)  {
    .navigation {
        .container{
            flex-direction: column;
            text-align: center;
        }

        &__header {
            margin-bottom: 32px;
        }
    }

    .filter_block {
        &__wrap {
            max-width: 100%;
        } 

        &__sort {
            &__trending {
                min-width: 155px;
            }

            &__size {
                min-width: 60px;
            }

            &__price {
                min-width: 78px;
            }
        }

        &__main__details__summary {
            span {
                display: none;
            }
        }
    }
}