@mixin main-body {
    margin: 0;
    padding: 0;
}

@mixin vertical-aligement {
    display: flex;
    align-items: center;
}

@mixin just-content-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin just-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;

}