$mainColor: #F16D7F;
$primaryColor: #FFFFFF;
$secondaryColor: #222222;
$mainFontSize: 14px;
$mainLineHeight: 17px;
$mainFontFamily: 'Lato';
$mainFontStyle: normal;
$mainFontWeight: normal;

$backgroundColorForIntro: #f1e4e6;